.shortcut{font-size: x-small;
font-family: Arial, Helvetica, sans-serif;}

.houseBlendCoffee{font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    }

.frenchRoast{font-size: small;
    font-family: Arial, Helvetica, sans-serif;}

.ColumbianRoast{font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

footer{font-size: small;}